.navColor {
    background-color: brown;
}

.container {
    flex-direction: row-reverse;
}

.navbar-brand {
    color: white;
}

.navbar-brand img {
    width: 50px;
}

.card {
    background-color: rgb(129, 116, 116);
}

.btn-primary {
    background-color: rgb(71, 44, 97);
    color: black;
}
.imgContact img {
    max-width: 100%; 
    max-height: 100%
}